.Apropos-wrap {
  display: flex;
  height: 100%;
  border: var(--color2) 1px solid;
  border-right: #fff 0px solid;
}

.photo-right {
  width: 25%;
  border-right: var(--color2) 1px solid;
}

.photo-left {
  width: 75%;
  border-right: var(--color2) 1px solid;
}

.borderBottom {
  border-bottom: var(--color2) 1px solid;
}
.blackSquare {
  background-color: var(--color2);
  height: 21vh;
  width: 21vh;
}

.photo {
  width: 50vw;
  /* filter:  */
  display: flex;
}

.presentation {
  width: 50vw;
  padding: 15px;
  box-sizing: border-box;
}

.photo-left-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-left-3 {
  display: flex;
  justify-content: flex-end;
}

.photo-left-3 > .blackSquare {
  height: 21hv;
}

.PhotoHover {
  cursor: none;
  filter: grayscale(1);
}
@media screen and (max-width: 769px) {
  .Apropos-wrap {
    flex-direction: column;
  }
  .photo-right {
    display: none;
  }

  .photo {
    width: 100%;
  }
  .photo-left {
    width: 100%;
  }
  .presentation {
    width: 100%;
  }
}
