@import url(header.css);
@import url(home.css);
@import url(Projet.css);
@import url(apropos.css);
@import url(footer.css);
@import url(animation.css);
/* @import url(loader.css); */
:root {
  --color1: #fff;
  --color2: #000;
  /* --color3: #00ffd3; */
  --color3: #009b81;
  --font: "Noto sans";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: var(--color1);

  overflow-x: hidden;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: none;
}

html {
  scroll-behavior: smooth;
  cursor: url(cursornoir.png), auto;
}
* {
  font-family: var(--font);
}

section {
  height: 100vh;
  border-bottom: var(--color2) 1px solid;
  box-sizing: border-box;
  padding-top: 100px;
  color: var(--color2);
}

/* button */
.btn {
  background-color: var(--color1);
  padding: 15px 5px;
  margin: 5px 0;
  border: var(--color2) 1px solid;
  cursor: none;
  color: var(--color2);
  position: relative;
  transition: 0.4s ease-in;
  z-index: 1;
  display: inline-block;
}

.btn::before,
.btn::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.btn:hover {
  box-shadow: inset 20em 0 0 0 var(--color2);
  color: var(--color1);
}

.fontsize3 {
  font-size: 2.5em;
}

.fontsize2 {
  font-size: 1.5em;
}

@media screen and (max-width: 769px) {
  section {
    height: auto;
  }
}

/* cursor */

.cursor {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  border: var(--color2) 1px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-out;
}
