@import url(header.css);
@import url(home.css);
@import url(Projet.css);
@import url(apropos.css);
@import url(footer.css);
@import url(animation.css);
@import url(loader.css);
:root {
  --color1: #121212;
  --color2: #fff;
  /* --color3: #00ffd3; */
  --color3: #009b81;
  --font: "Noto sans";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: var(--color1);

  overflow-x: hidden;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: none;
}

html {
  scroll-behavior: smooth;
  cursor: url(cursorblanc.png), auto;
}
* {
  font-family: var(--font);
}

section {
  height: 100vh;
  /* border-bottom: var(--color2) 1px solid; */
  box-sizing: border-box;
  padding-top: 100px;
  color: var(--color2);
}

/* button */
.btn {
  background-color: var(--color1);
  padding: 15px 10px;
  /* margin: 5px 0px; */
  margin-right: 10px;
  border: var(--color2) 1px solid;
  cursor: none;
  color: var(--color2);
  position: relative;
  transition: 0.4s ease-in;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
}

.btn::before,
.btn::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.btn:hover {
  box-shadow: inset 20em 0 0 0 var(--color2);
  color: var(--color1);
}

.fontsize3 {
  font-size: 2.5em;
}

.fontsize2 {
  font-size: 1.5em;
}

.min-w {
  min-width: 675px;
}

@media screen and (max-width: 769px) {
  section {
    height: auto;
  }
  .cursor {
    display: none;
  }

  html {
    cursor: auto;
  }

  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .scrollCta {
    display: none;
  }

  a.tooltip {
    text-decoration: none;
    color: var(--color2);
  }

  .min-w {
    min-width: auto;
  }
}

/* cursor */

.cursor {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  border: var(--color2) 1px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-out;
}

/* tooltip */
a.tooltip {
  border-bottom: 1px dashed;
  text-decoration: none;
  color: var(--color3);
}

a.tooltip:hover {
  cursor: help;
  position: relative;
}
a.tooltip span {
  display: none;
}

a.tooltip:hover span {
  border: #666 2px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: #e3e3e3;
  left: 50px;
  margin: 15px;
  width: 300px;
  position: absolute;
  top: -200px;
  text-decoration: none;
}

a.tooltip-left:hover span {
  left: -300px;
}

.scrollCta {
  position: absolute;
  top: 90vh;
  animation: scroll 1s infinite alternate;
  font-size: 1.5em;
}

@keyframes scroll {
  100% {
    transform: translateY(10px);
  }
}

/*-------------------------------scroll bar-----------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
