:root {
  --bglight: #f0e0c9;
  --color-one-light: #150b0e;
  --color-two-light: #b13126;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

h4,
h3,
h2,
h1,
p,
i {
  font-family: "Unica One";
  color: var(--color-one-light);
}
p,
i {
  font-size: 1.8em;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 4.5em;
  padding: 0;
  margin: 0;
}
/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
/* unica-one pour les titre */

#canvas-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* le menu latéral */
#Menu {
  position: absolute;
  top: 30%;
  left: 24px;
  z-index: 1;
}

#Menu > li {
  list-style: none;
  padding: 0.3em;
  margin: 0.3em;
  cursor: pointer;
}

#Menu > li:hover .underline {
  width: 100%;
}

#Menu > li > span {
  font-size: larger;
  font-family: "Unica One";
  color: var(--color-one-light);
}

.lien-actif > span {
  color: var(--color-two-light) !important;
}
.lien-actif > .underline {
  width: 100%;
}

.underline {
  background-color: var(--color-one-light);
  width: 20%;
  height: 3px;
  transition: 0.3s ease-out;
}

#header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.menu-toggle {
  width: 50px;
  height: 3px;
  background-color: var(--color-one-light);
  margin: 0.4em;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

#menu_toggles {
  cursor: pointer;
}

.main {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  /* border: #000 1px solid; */
}

#changetheme {
  padding: 15px;
  cursor: pointer;
}

/*class pour la partie main*/

.Accueil {
  padding: 1em;
  padding-top: 3em;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 3px;
}
